body{ background-image: url("n3.jpg");}
.image
{
    margin: 30 300px;
}
.image1{
    margin: -600 750px;
}
.info{
    margin: 630 350px;
}
.info1{
    margin-top: -720px;
    margin-right: 40px;
    margin-left: 790px;
}